/************
 * GtkScale *
 ************/
GtkScale {
    border-width: 1px;
    border-radius: 3px;
    -GtkScale-slider-length: 15;
    -GtkRange-slider-width: 24;
    -GtkRange-trough-border: 1;
    background-color: @glow_color;
}

GtkScale.slider,
GtkScale.slider.vertical {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.05)),
                                     to (shade (@gradient_color_b, 0.75)));
    border-color: alpha (@text_color, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.00),
                inset 1px 1px @border_gradient_color_a,
                inset -1px -1px shade (@border_gradient_color_b, 0.80);
}

GtkScale.slider:hover,
GtkScale.slider.vertical:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     color-stop (0.03, @gradient_color_a),
                                     to (@gradient_color_b));
    border-color: alpha (@text_color, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.20),
                inset -2px -2px shade (@inner_gradient_color_b, 1.15),
                inset 1px 1px shade (@border_gradient_color_a, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 0.80);

}

GtkScale.slider:insensitive,
GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.15)),
                                     to (shade (@gradient_color_b, 1.15)));
    border-color: shade (@border_gradient_color_a, 1.10);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.15),
                inset 1px 1px shade (@inner_gradient_color_a, 1.00),
                inset -1px -1px shade (@inner_gradient_color_b, 1.115);
}

GtkScale.trough,
GtkScale.trough.horizontal {
    border-radius:  1px;
    margin: 11px 0px 11px 0px;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@glow_color, 1.65)),
                                 to (shade (@glow_color, 1.50))) 1;
}

GtkScale.trough.vertical {
    border-radius:  1px;
    margin: 0px 11px 0px 11px;
    border-image: -gtk-gradient (linear, left top, right top,
                                 from (shade (@glow_color, 1.65)),
                                 to (shade (@glow_color, 1.60))) 1;
}

GtkScale.trough:insensitive,
GtkScale.trough.horizontal:insensitive {
    border-radius:  1px;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@inner_gradient_color_b, 1.30)),
                                 to (shade (@inner_gradient_color_b, 1.20))) 1;
    box-shadow: inset 1px 1px shade (@inner_gradient_color_b, 1.20),
                inset -1px -1px shade (@inner_gradient_color_b, 1.20);
}

GtkScale.trough.vertical:insensitive {
    border-radius:  1px;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@inner_gradient_color_b, 1.30)),
                                 to (shade (@inner_gradient_color_b, 1.20))) 1;
    box-shadow: inset 1px 1px shade (@inner_gradient_color_b, 1.20),
                inset -1px -1px shade (@inner_gradient_color_b, 1.20);
}

GtkScale.scale-has-marks-below.slider.horizontal {
}

GtkScale.scale-has-marks-below.slider.vertical {
}

GtkScale.scale-has-marks-above.slider.horizontal {
}

GtkScale.scale-has-marks-above.slider.vertical {
}

GtkScale.progressbar {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (alpha (shade (@glow_color, 0.90), 0.40)));
    background-color: @glow_color;
    color:@glow_color;
}

GtkScale.mark {
    background-color: shade (@bg_color, 0.56);
}
