/****************
 * Text Entries *
 ****************/
.entry,
.toolbar.entry {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px 10px 6px 10px;
    padding: 5px;
    color: @base_color-b;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@text_color-b, 0.60)),
                                     color-stop (0.50, shade (@text_color-b, 0.95)),
                                     color-stop (0.90, @text_color-b),
                                     to (@text_color-b));
    border-color: shade (@border_gradient_color_a-b, 0.80);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a-b, 1.00),
                inset -2px -2px shade (@inner_gradient_color_a-b, 1.00),
                inset 1px 1px shade (@border_gradient_color_b-b, 0.85),
                inset -1px -1px shade (@border_gradient_color_b-b, 0.85);
	background-color: shade (@text_color-b, 0.87)/*evolution*/
}

.entry:focused {
    border-radius: 6px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@inner_gradient_color_a-b, 0.80)),
                                     color-stop (0.50, shade (@text_color-b, 0.95)),
                                     color-stop (0.90, @text_color-b),
                                     to (@text_color-b));
    border-color: shade (@glow_color-b, 0.60);
    box-shadow: inset 1px 1px alpha (@inner_gradient_color_a-b, 0.10),
                inset -1px -1px alpha (@inner_gradient_color_a-b, 0.30);
}

.entry:active {
	color: shade (@text_color-b, 0.80);
    background-color: shade (@bg_color-b, 1.40);
}

.entry:selected {
    color: @text_color-b;
}

.entry:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
			                         from (alpha (@text_color-b, 0.20)),
			                         to (alpha (@text_color-b, 0.00)));
	background-color: alpha (@text_color-b, 0.20)/*evolution*/
}

.primary-toolbar .entry.progressbar,
.entry.progressbar {
    background-color: @glow_color-b;
    color: @text_color-b;
    border-width: 1px;
    border-radius: 3px;
}

.entry.button {
    background-color: @glow_color-b;
    color: @text_color-b;
    border-width: 1px;
    border-radius: 1px;
}

/* Leftmost button */
.linked .entry:first-child {
    border-right-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Middle button */
.linked .entry:only-child {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

/* Rightmost button */
.linked .entry:last-child {
    border-left-width: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Top button (vertical) */
.linked.vertical .entry:first-child {
    border-bottom-width: 0;
    border-radius: 6px 10px 0 0;
}

/* Middle button (vertical) */
.linked.vertical .entry {
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

/* Bottom button (vertical) */
.linked.vertical .entry:last-child {
    border-top-width: 0;
    border-radius: 0 0 6px 10px;
}

