/************
 * GtkScale *
 ************/
GtkScale {
    border-width: 1px;
    border-radius: 4px 5px 3px 5px;
    -GtkScale-slider-length: 15;
    -GtkRange-slider-width: 24;
    -GtkRange-trough-border: 1;
    background-color: @glow_color-b;
}

GtkScale.slider,
GtkScale.slider.vertical {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (@gradient_color_b-b));
    border-color: alpha (@text_color-b, 0.00);
    box-shadow: inset 1px 1px shade (@inner_gradient_color_a-b, 1.15),
                inset -2px -2px shade (@inner_gradient_color_b-b, 0.90),
                inset 0px 0px @border_gradient_color_a-b,
                inset -1px -1px shade (@border_gradient_color_b-b, 1.00);

}

GtkScale.slider:hover,
GtkScale.slider.vertical:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     color-stop (0.03, @gradient_color_a-b),
                                     to (shade (@gradient_color_b-b, 1.30)));
    border-color: alpha (@text_color-b, 0.00);
    box-shadow: inset 1px 1px shade (@gradient_color_a-b, 1.30),
                inset -2px -2px shade (@gradient_color_a-b, 0.60),
                inset 0px 0px shade (@border_gradient_color_a-b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b-b, 1.60);

}

GtkScale.slider:insensitive,
GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a-b, 0.70)),
                                     to (shade (@gradient_color_b-b, 0.70)));
    border-color: alpha (@text_color-b, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a-b, 0.85),
                inset -2px -2px shade (@inner_gradient_color_b-b, 1.115),
                inset 1px 1px shade (@border_gradient_color_a-b, 1.10),
                inset -1px -1px shade (@border_gradient_color_b-b, 0.90);
}

GtkScale.trough,
GtkScale.trough.horizontal {
    border-radius: 1px;
    margin: 11px 0px 11px 0px;
    border-width: 3px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_b-b, 2.65)),
                                     to (shade (@gradient_color_a-b, 2.15)));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@glow_color-b, 0.65)),
                                 to (shade (@glow_color-b, 0.40))) 1;
}

GtkScale.trough.vertical {
    border-radius:  1px;
    margin: 0px 11px 0px 11px;
    border-width: 3px;
    border-image: -gtk-gradient (linear, left top, right top,
                                 from (shade (@glow_color-b, 0.65)),
                                 to (shade (@glow_color-b, 0.40))) 1;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@gradient_color_b-b, 2.65)),
                                     to (shade (@gradient_color_a-b, 2.15)));


}

GtkScale.trough:insensitive,
GtkScale.trough.horizontal:insensitive {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_b-b, 0.65)),
                                     to (shade (@gradient_color_a-b, 0.75)));
    border-width: 0px;
}

GtkScale.trough.vertical:insensitive {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@gradient_color_b-b, 0.75)),
                                     to (shade (@gradient_color_a-b, 0.65)));
    border-width: 0px;
}


GtkScale.scale-has-marks-below.slider.horizontal {
}

GtkScale.scale-has-marks-below.slider.vertical {
}

GtkScale.scale-has-marks-above.slider.horizontal {
}

GtkScale.scale-has-marks-above.slider.vertical {
}

GtkScale.progressbar {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (alpha (shade (@glow_color-b, 0.90), 0.40)));
    background-color: @glow_color-b;
    color:@glow_color-b;
}

GtkScale.mark {
    background-color: shade (@bg_color-b, 0.56);
}




