/************
 * Toolbars *
 ***********/
.window-frame {
	background-color: @bg_color;
}

.titlebar,
.toolbar {
    border-width: 0;
    border-style: none;
    color: @text_color;
    text-shadow: 1px 1px alpha (shade (@text_shadow_color, 1.25), 0.4);
    border-radius: 5px;
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 5;
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));
    border-color: alpha (@text_color, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 0.95),
                inset -2px -2px shade (@inner_gradient_color_b, 1.00),
                inset 1px 1px @border_gradient_color_a,
                inset -1px -1px shade (@border_gradient_color_b, 0.80);
}

.toolbar .button {
    padding: 2.5px 4px 2.5px 4px;
}

.toolbar .button:active {
    padding: 2.5px 5px 2.5px 3px;
}

.toolbar:insensitive {
    color: alpha (@text_color, 0.6);
}

/********************
 * Menubar Toolbars *
 ********************/
.toolbar.menubar {
    border-width: 1px;
    border-style: solid;
    -GtkToolbar-button-relief: normal;
}

/********************
 * Primary Toolbars *
 ********************/
.primary-toolbar .button *,
.primary-toolbar .button {
    padding:1.9px 2.3px 1.5px 3px;
}

.primary-toolbar .button:active {
    padding:1.9px 3.3px 1.5px 2px;
}

.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    border-width: 0;
    border-style: none;
    padding: 0;
    color: @text_color;
    text-shadow: 1px 1px alpha (shade (@text_shadow_color, 1.25), 0.4);
    padding: 0px 0px 0px 0px;
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 5;
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));
    border-color: alpha (@text_color, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 0.95),
                inset -2px -2px shade (@inner_gradient_color_b, 1.00),
                inset 1px 1px @border_gradient_color_a,
                inset -1px -1px shade (@border_gradient_color_b, 0.80);
}

.primary-toolbar .toolbar:insensitive,
.primary-toolbar.toolbar:insensitive {
    border-width: 0;
    border-style: none;
    padding: 0;
    color: @text_color;
    text-shadow: 1px 1px alpha (shade (@text_shadow_color, 1.25), 0.4);
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 5;
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.10)),
                                     to (shade (@gradient_color_b, 1.10)));
    border-color: alpha (@text_color, 0.10);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.10),
                inset 1px 1px shade (@border_gradient_color_a, 1.10),
                inset -1px -1px shade (@border_gradient_color_b, 0.90);
}

/*******************
 * Inline toolbars *
 *******************/
.inline-toolbar.toolbar {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px;
    -GtkToolbar-button-relief: normal;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.85)),
                                     color-stop (0.50, shade (@bg_color, 0.95)),
                                     color-stop (1.00, @bg_color),
                                     to (shade (@bg_color, 0.95)));
    border-color: shade (@border_gradient_color_b, 1.25);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.00),
                inset -2px -2px shade (@inner_gradient_color_a, 1.10),
                inset 1px 1px shade (@border_gradient_color_b, 0.85),
                inset -1px -1px shade (@border_gradient_color_b, 0.85);

}

.inline-toolbar.toolbar .button {
    icon-shadow: 1px 1px @base_color;
    border-style: solid;
}

.inline-toolbar.toolbar .button:active {
    padding: 3px 4px 3px 2px;
}

.inline-toolbar.toolbar .button:hover {
}

.inline-toolbar.toolbar .button:insensitive {
    border-width: 1px;
    padding: 2.5px 4px 2.5px 4px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));
    border-color: alpha (@text_color, 0.00);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.10),
                inset 1px 1px shade (@border_gradient_color_a, 1.10),
                inset -1px -1px shade (@border_gradient_color_b, 1.00);
}

.inline-toolbar.toolbar .button *:insensitive {
    icon-shadow: 1px 1px shade (@border_gradient_color_a, 1.10);
    color: shade (@border_gradient_color_a, 0.80);
}
