/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
    -GtkNotebook-initial-gap: 1;
    -GtkNotebook-arrow-spacing: 5;
    -GtkNotebook-tab-curvature: 0;
    -GtkNotebook-tab-overlap: 1;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    border-radius: 4px;
    padding: 23px;
    background-image: none;
    background-color: shade (@bg_color, 0.90);
    box-shadow: inset 1px 1px shade (@border_gradient_color_b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}

.notebook.header {
    background-color: @transparent;
    border-width: 0px;
    box-shadow: none
}

.notebook tab:active {
    border-radius: 4px 4px 0px 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.30)),
                                     to (shade (@gradient_color_b, 1.05)));
    border-color: @transparent;
    box-shadow: inset 1px 1px shade (@border_gradient_color_b, 1.00),
                inset -1px -0px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);


}

.notebook tab {
    border-radius: 4px 4px 0px 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (shade (@gradient_color_b, 0.80)));
    border-color: @transparent;
    box-shadow: inset 1px 1px shade (@border_gradient_color_b, 1.00),
                inset -1px -0px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 0.97);
}

/*.notebook tab GtkLabel:active {
    color:@r;
}

.notebook tab GtkLabel{
    color:alpha (shade (@text_color, 0.35), 0.5);
}*/

.notebook tab.top:active {
    padding: 4px 7px 5px 7px;
}

/*.notebook tab.top:insensitive {
    padding: 5px 7px 2px 7px;
}*/

.notebook tab.top {
    padding: 3px 5px 3px 5px;
}

.notebook tab.right:active {
    border-radius: 5px;
    padding: 2px 6px 4px 4px;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                                 from (shade (@bg_color, 0.90)),
                                                 to (shade (@bg_color, 0.90)));
    border-color: @transparent;
    box-shadow: inset 0px 1px shade (@border_gradient_color_b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}

.notebook tab.right {
    border-radius: 5px;
    padding: 3px 4px 5px 3px;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                                 from (shade (@bg_color, 0.80)),
                                                 to (shade (@bg_color, 0.80)));
    border-color: @transparent;
    box-shadow: inset 0px 1px shade (@border_gradient_color_b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}


.notebook tab.bottom:active {
    border-radius: 0px 0px 4px 4px;
    padding: 3px 7px 5px 7px;
    box-shadow: inset 1px 0px shade (@border_gradient_color_b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}

.notebook tab.bottom {
    border-radius: 0px 0px 4px 4px;
    padding: 2px 5px 3px 5px;
    box-shadow: inset 1px 0px shade (@border_gradient_color_b, 1.00),
                inset -1px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07);
}

.notebook tab.left:active {
    padding: 2px 6px 4px 4px;
    border-radius: 5px;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                                 from (shade (@bg_color, 0.90)),
                                                 to (shade (@bg_color, 0.90)));
    border-color: @transparent;
    box-shadow: inset 1px 1px shade (@border_gradient_color_b, 1.00),
                inset -0px -1px shade (@border_gradient_color_b, 1.00),
                inset 0px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}

.notebook tab.left {
    border-radius: 5px;
    padding: 3px 4px 5px 3px;
    background-image: -gtk-gradient (linear, left bottom, left top,
                                                 from (shade (@bg_color, 0.80)),
                                                 to (shade (@bg_color, 0.80)));
    border-color: @transparent;
    box-shadow: inset 2px 1px shade (@border_gradient_color_b, 1.00),
                inset -0px -1px shade (@border_gradient_color_b, 1.00),
                inset 1px 0px shade (@inner_gradient_color_a, 1.07),
                inset -0px -0px shade (@inner_gradient_color_a, 1.07);
}

.notebook tab .button {
    padding: 0;
}

.notebook GtkDrawingArea {
    background-color: shade (@bg_color, 1.02);
}

