/***************
 * Header/Cell *
****************/
GtkViewport,
GtkIconView {
}

.list-row {
    border-width: 1px;
}
.view.cell:selected {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: shade (@text_color-b, 1.00);
    icon-shadow: 1px 1px alpha (shade (@base_color-b, 1.25), 0.4);
    text-shadow: 1px 1px alpha (shade (@base_color-b, 1.25), 0.4);
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (@gradient_color_b-b));
    border-color: shade (@border_gradient_color_a-b, 0.90);
    box-shadow: inset 1px 1px shade (@inner_gradient_color_a-b, 1.65),
                inset -1px -1px shade (@inner_gradient_color_a-b, 0.70);
}

.list-row:selected,
EggListBox:selected,
.view.cell:prelight,
.view.cell:selected:focused {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: shade (@text_color-b, 1.00);
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (@gradient_color_b-b));
    border-color: shade (@border_gradient_color_a-b, 0.90);
    box-shadow: inset 1px 1px shade (@inner_gradient_color_a-b, 1.65),
                inset -1px -1px shade (@inner_gradient_color_a-b, 0.70);
}

/*.list-row:hover,*/
EggListBox:hover,
.view.cell:selected:prelight, 
.view.cell:prelight {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: shade (@text_color-b, 1.00);
    icon-shadow: 1px 1px alpha (shade (@text_color-b, 1.25), 0.4);
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (@gradient_color_b-b));
    border-color: shade (@border_gradient_color_a-b, 0.90);
    box-shadow: inset 1px 1px shade (@inner_gradient_color_a-b, 1.65),
                inset -1px -1px shade (@inner_gradient_color_a-b, 0.70);
}

GtkIconView.view.cell:hover {
    color: alpha (shade (@base_color-b, 1.00), 1.0);
    text-shadow: 1px 0px alpha (shade (@base_color-b, 1.25), 1.0);
    icon-shadow: 3px 3px alpha (shade (@base_color-b, 1.25), 0.4);
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    text-shadow: 0 0 alpha (shade (@text_color-b, 1.25), 0.4);
}

EggListBox,
.view, 
CcShellCategoryView {
    background-color: alpha (shade (@text_color-b, 0.98), 0.9);
    color: @base_color-b;
    text-shadow: 0 0 alpha (shade (@sidebar_text_shadow_color-b, 1.25), 0.4);
    border-style: solid;
    border-color: shade (@border_gradient_color_a-b, 2.40);
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
    icon-shadow: 1px 1px @text_color-b;
}

EggListBox *{
    color: @base_color-b;
}

/*EggListBox:selected,
EggListBox:selected:focused,
EggListBox:hover {
    color: @bg_color-b;
    background-color: shade (@gradient_color_b-b, 0.70);
}*/

.view:selected {
    background-color: shade (@gradient_color_b-b, 4.00);
}

.view:selected:focused {
    background-color: shade (@gradient_color_a-b, 1.00);
}

GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 8;
}

GtkTreeView.separator {
}

column-header {
    color: @text_color-b;
}

column-header .button {
    border-color: shade (@bg_color-b, 1.50);
    border-radius: 0px 0px 3px 3px;
    border-width: 1px;
    -GtkButton-inner-border: 0;
/*    padding: 3.5px 4px 1.5px 2px;*/
    padding: 3.5px 2px 1.5px 2px;
}

column-header .button:hover {
    border-radius: 0px 0px 3px 3px;
    border-width: 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a-b, 1.30)),
                                     color-stop (0.03, shade (@gradient_color_a-b, 1.30)),
                                     to (shade (@border_gradient_color_b-b, 1.30)));
    border-color: shade (@bg_color-b, 2.00);
    box-shadow: inset 2px 2px shade (@gradient_color_a-b, 1.30),
    inset -2px -2px shade (@gradient_color_a-b, 0.80),
    inset 1px 1px shade (@border_gradient_color_a-b, 1.10),
    inset -1px -1px shade (@border_gradient_color_b-b, 1.60);
}

column-header .button:active {
    border-radius: 3px;
    border-width: 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_activ_color_a-b),
                                     to (@gradient_activ_color_b-b));
    border-color: alpha (@text_color-b, 0.00);
    box-shadow: inset 2px 2px shade (@border_gradient_color_a-b, 0.60),
                inset -2px -2px shade (@border_gradient_color_a-b, 1.10),
                inset 1px 1px shade (@border_gradient_color_a-b, 3.90),
                inset -1px -1px shade (@border_gradient_color_a-b, 0.75);
}

row:hover {
}

row:insensitive {
}

row:selected:focused {
}

row:selected {
}

.cell {
}

.cell:selected {
}

.expander {
    border-radius: 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (@gradient_color_b-b));
    border-color:@border_gradient_color_b-b;
    box-shadow: inset 1px 1px shade (@inner_gradient_color_a-b, 1.15),
                inset -1px -1px shade (@inner_gradient_color_b-b, 1.00);
    color: shade (@text_color-b, 1.00);
}

.expander:active {
}

.expander:prelight {
}

.expander row:selected,
.expander row:selected:focused {
}

*row:nth-child(even) {
    background-color: shade (@text_color-b, 0.74);
}

*row:nth-child(odd) {
    background-color: shade (@text_color-b, 0.88);
}

