/***********
 * Buttons *
 ***********/
.button *{
    background-color: @transparent;
    -unico-focus-fill-color: @transparent;
    -GtkButton-inner-border: 0;
    border-radius: 20px;
    border-width: 1px;
}

GtkComboBox *{
    padding: 0px 0px 0px 2px;
}

GtkComboBox,
.button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));
                                        
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.10)));

    -unico-outer-stroke-width: 1;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (@border_gradient_color_a),
                                           to (shade (@border_gradient_color_b, 0.80)));
    
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a, 1.15)),
                                                 to (shade (@inner_gradient_color_b, 1.00)));
    -unico-inner-stroke-width: 1;
    transition: 80ms ease-in-out;
    border-radius: 4px;
    border-style: solid;
    text-shadow: 1 1 alpha (shade (@text_shadow_color, 1.25), 0.40);
    border-width: 1px;
    color: @text_color;
    padding: 2.5px 4px 2.5px 4px;
    border-width: 1px;
}

.primary-toolbar .button:hover,
.button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
		                             from (@gradient_color_a),
		                             color-stop (0.03, @gradient_color_a),
		                             to (@gradient_color_b));
                    
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.00)));
                    
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		                                   from (shade (@border_gradient_color_a, 0.90)),
		                                   to (shade (@border_gradient_color_b, 0.70)));
    
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a, 1.10)),
                                                 to (shade (@inner_gradient_color_b, 0.90)));
    -unico-glow-color: shade (@glow_color, 0.85);
    -unico-glow-radius: 10;
}

.button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_activ_color_a),
                                     to (@gradient_activ_color_b));

    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 0.90)),
                                           to (shade (@border_gradient_color_a, 0.75)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@border_gradient_color_a, 0.80)),
                                                 to (shade (@border_gradient_color_a, 1.10)));
    -unico-glow-radius: 0;
    border-width: 1px;
    padding: 2.5px 5px 2.5px 3px;
}

.primary-toolbar .button:active:hover,
.button:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_activ_color_a, 1.30)),
                                     to (shade (@gradient_activ_color_b, 1.20)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 0.90)),
                                           to (shade (@border_gradient_color_a, 0.75)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@border_gradient_color_a, 0.80)),
                                                 to (shade (@border_gradient_color_a, 1.05)));
    -unico-glow-radius: 0;
}

.button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));

    -unico-outer-stroke-style: none;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 1.10)),
                                           to (shade (@border_gradient_color_b, 0.90)));
    
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a, 1.25)),
                                                 to (shade (@inner_gradient_color_b, 1.115)));
    -unico-inner-stroke-width: 1;
}

.button:insensitive:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_b, 1.35)),
                                     to (shade (@gradient_color_b, 1.35)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 1.00)),
                                           to (shade (@border_gradient_color_a, 0.85)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@border_gradient_color_a, 0.80)),
                                                 to (shade (@border_gradient_color_a, 1.10)));
    -unico-glow-radius: 0;
}

.button.default {
}

.button:selected {
}

/****************
 * Spin Buttons *
 ****************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,                                                                                                                                        
.notebook .spinbutton.button {
    border-radius: 0;
    border-width: 1px 1px 1px 1px;
    -unico-outer-stroke-width: 1px 0px 0px 0px;
}

.spinbutton.button:active:nth-child(last),
.spinbutton.button:insensitive:nth-child(last),
.notebook .spinbutton.button:active:nth-child(last),
.notebook .spinbutton.button:insensitive:nth-child(last),
.spinbutton.button:nth-child(last),
.notebook .spinbutton.button:nth-child(last) {
    border-radius: 0px 6px 6px 0px;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@glow_color, 1.45)),
                                           to (shade (@glow_color, 1.45)));
    -unico-outer-stroke-width: 1px 1px 0px 0px;
    border-width: 1px;
}


.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive,
.spinbutton.button:insensitive:nth-child(last),
.notebook .spinbutton.button:insensitive:nth-child(last) {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@base_color, 0.20)),
                                                 to (alpha (@base_color, 0.00)));

    border-width: 1px 1px 0px 1px;
    -unico-inner-stroke-width: 0;
}

/***************************
 * Primary Toolbar Buttons *
 ***************************/
.primary-toolbar .button * {
    background-color: @transparent;
    -unico-focus-fill-color: @transparent;
    -GtkButton-inner-border: 0;
    border-radius: 20px;
    border-width: 1px;
    /*padding: 3px 2px 3px 2px;*/
}

.marlin-pathbar {
    padding: 0;
}
