/*************
 * GtkSwitch *
**************/
GtkSwitch {
    padding: 4px;
    font: bold condensed 10;
}

GtkSwitch.trough {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));

    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.10)));

    -unico-outer-stroke-width: 1;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 0.80)),
                                           to (shade (@border_gradient_color_b, 0.70)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a, 1.15)),
                                                 to (shade (@inner_gradient_color_b, 1.00)));
    -unico-inner-stroke-width: 1;

    border-radius: 5px;
    border-style: solid;
    text-shadow: 1 1 alpha (shade (@text_shadow_color, 1.25), 0.40);
    border-width: 1px;
    color: @text_color;
}

GtkSwitch.trough:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.60)),
                                     color-stop (0.50, shade (@base_color, 0.95)),
                                     color-stop (0.90, @base_color),
                                     to (@base_color));
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_b, 0.85)),
                                           color-stop (0.50, shade (@border_gradient_color_b, 0.94)),
                                           color-stop (0.90, @border_gradient_color_b),
                                           to (shade (@border_gradient_color_b, 0.85)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@inner_gradient_color_a, 1.00)),
                                           color-stop (0.50, shade (@inner_gradient_color_a, 0.94)),
                                           color-stop (0.90, @inner_gradient_color_a),
                                           to (shade (@inner_gradient_color_a, 1.00)));

    -unico-inner-stroke-width: 1;
    text-shadow: 1 1 alpha (shade (@text_shadow_color, 1.25), 0.40);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: shade (@glow_color, 0.60);
}

GtkSwitch.trough:insensitive {
   background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.25)),
                                     to (shade (@gradient_color_b, 1.25)));

    -unico-outer-stroke-style: none;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a, 1.10)),
                                           to (shade (@border_gradient_color_b, 1.30)));

    -unico-inner-stroke-width: 0;
    color: shade (@bg_color, 0.6);
    text-shadow: 1 1 alpha (shade (@text_shadow_color, 2.25), 0.4);
}

GtkSwitch.slider {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@bg_color, 1.2)),
                                     color-stop (0.3, shade(@bg_color, 1.1)),
                                     color-stop (0.6, shade(@bg_color, 0.8)),
                                     to (@bg_color));
 
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color, 0.00)),
                                                 to (alpha (@text_color, 0.10)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade(@border_gradient_color_b, 0.80)),
                                           to (shade (@border_gradient_color_b, 0.60)));

    -unico-focus-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@border_gradient_color_a, 0.62)),
                                                 to (alpha (@border_gradient_color_b, 0.62)));
    -unico-outer-stroke-style: none;
    border-width: 1px;
    border-radius: 5px;
}

GtkSwitch.slider:active {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@bg_color, 1.0)),
                                     color-stop (0.3, shade(@bg_color, 0.9)),
                                     color-stop (0.6, shade(@bg_color, 0.7)),
                                     to (shade (@bg_color, 1.1)));
}

GtkSwitch.slider:insensitive {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@bg_color, 1.3)),
                                     color-stop (0.3, shade(@bg_color, 1.20)),
                                     color-stop (0.6, shade(@bg_color, 0.90)),
                                     to (@bg_color));
 
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade(@border_gradient_color_b, 1.20)),
                                           to (shade (@border_gradient_color_b, 1.20)));

    -unico-focus-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@border_gradient_color_a, 0.82)),
                                                 to (alpha (@border_gradient_color_b, 0.62)));
}
