/************
 * Sidebars *
*************/
.sidebar,
.sidebar .view {
    background-color: alpha (shade (@sidebar_bg_color, 0.95), 0.9);
    color: @sidebar_text_color;
    text-shadow: 1 1 alpha (shade (@sidebar_text_shadow_color, 1.25), 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: shade (@border_gradient_color_b, 1.40);
    border-radius: 3px;
}

.sidebar.view:prelight {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
			             color-stop (0.03, @gradient_color_a),
                                     to (@gradient_color_b));
    border-style: solid;
    border-width: 1px;
    border-color: @border_gradient_color_b;
}

GtkHCollapsablePaned {
    border-width: 1px;
    -GtkPaned-handle-size: 3;
}

GtkHCollapsablePaned.pane-separator,
GtkHCollapsablePaned.pane-separator:prelight,
GtkHCollapsablePaned.pane-separator:selected {
}

