/************
 * GtkScale *
 ************/
GtkScale {
    border-width: 1px;
    border-radius: 3px;
    -GtkScale-slider-length: 15;
    -GtkRange-slider-width: 24;
    -GtkRange-trough-border: 1;
    background-color: @glow_color-b;
}

GtkScale.slider,
GtkScale.slider.vertical {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a-b, 1.15)),
                                     to (shade (@gradient_color_b-b, 0.75)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                                                 left top, left bottom,
                                                 from (alpha (@text_color-b, 0.00)),
                                                 to (alpha (@text_color-b, 0.02)));

    -unico-outer-stroke-width: 1;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_b-b, 0.80)),
                                           to (shade (@border_gradient_color_b-b, 0.60)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a-b, 0.85)),
                                                 to (shade (@inner_gradient_color_b-b, 0.80)));
    -unico-inner-stroke-width: 1;

}

GtkScale.slider:hover,
GtkScale.slider.vertical:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a-b, 1.55)),
                                     to (shade (@gradient_color_b-b, 1.15)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@text_color-b, 0.00)),
                                                 to (alpha (@text_color-b, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a-b, 0.90)),
                                           to (shade (@border_gradient_color_b-b, 0.70)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a-b, 1.25)),
                                                 to (shade (@inner_gradient_color_b-b, 1.25)));
    -unico-glow-color: shade (@glow_color-b, 0.85);
    -unico-glow-radius: 4;
}

GtkScale.slider:insensitive,
GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a-b, 0.55)),
                                     to (shade (@gradient_color_b-b, 0.55)));
    -unico-outer-stroke-style: none;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a-b, 0.90)),
                                           to (shade (@border_gradient_color_b-b, 0.70)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_a-b, 0.55)),
                                                 to (shade (@inner_gradient_color_b-b, 0.55)));
    -unico-inner-stroke-width: 1;
    border-width: 0px;
}


GtkScale.trough,
GtkScale.trough.horizontal {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_b-b, 0.85)),
                                     to (shade (@gradient_color_a-b, 0.95)));
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color-b, 1.50)),
                                                 to (shade (@bg_color-b, 1.30)));
    -unico-outer-stroke-width: 0;
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a-b, 2.40)),
                                           to (shade (@border_gradient_color_b-b, 2.60)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_b-b, 1.65)),
                                                 to (shade (@inner_gradient_color_a-b, 2.65)));

    -unico-inner-stroke-width: 0;
    border-width: 3px;
}

GtkScale.trough.vertical {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@gradient_color_b-b, 0.95)),
                                     to (shade (@gradient_color_a-b, 0.85)));
   -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@border_gradient_color_a-b, 2.40)),
                                           to (shade (@border_gradient_color_b-b, 2.60)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                                 from (shade (@inner_gradient_color_b-b, 1.65)),
                                                 to (shade (@inner_gradient_color_a-b, 2.65)));
    -unico-inner-stroke-width: 0;
    border-width: 3px;
}

GtkScale.trough:insensitive,
GtkScale.trough.horizontal:insensitive {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_b-b, 0.65)),
                                     to (shade (@gradient_color_a-b, 0.75)));
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color-b, 1.50)),
                                                 to (shade (@bg_color-b, 1.30)));
    -unico-outer-stroke-width: 0;
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@border_gradient_color_a-b, 1.20)),
                                           to (shade (@border_gradient_color_b-b, 1.40)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@inner_gradient_color_b-b, 1.35)),
                                                 to (shade (@inner_gradient_color_a-b, 2.35)));

    -unico-inner-stroke-width: 0;
    border-width: 3px;
}

GtkScale.trough.vertical:insensitive {
    border-radius:  1px;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@gradient_color_b-b, 0.75)),
                                     to (shade (@gradient_color_a-b, 0.65)));
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                                 from (shade (@bg_color-b, 1.20)),
                                                 to (shade (@bg_color-b, 1.40)));
    -unico-outer-stroke-width: 0;
    -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@border_gradient_color_a-b, 1.20)),
                                           to (shade (@border_gradient_color_b-b, 1.40)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                                 from (shade (@inner_gradient_color_b-b, 1.35)),
                                                 to (shade (@inner_gradient_color_a-b, 2.35)));

    -unico-inner-stroke-width: 0;
    border-width: 3px;
}


GtkScale.scale-has-marks-below.slider.horizontal {
}

GtkScale.scale-has-marks-below.slider.vertical {
}

GtkScale.scale-has-marks-above.slider.horizontal {
}

GtkScale.scale-has-marks-above.slider.vertical {
}

GtkScale.progressbar {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (alpha (shade (@glow_color-b, 0.90), 0.40)));
    background-color: @glow_color-b;
    color:@glow_color-b;
}

GtkScale.mark {
    background-color: shade (@bg_color-b, 0.56);
}




