/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

/* gedit line numbers */
GeditView {
    background-color: shade (@bg_color-b, 1.20);
}

/* gnome-contacts view background */
ContactsWindow .sidebar *,
.contacts-main-view.view {
    background-color: shade (@bg_color-b, 1.00);
    color: shade (@text_color-b, 1.00);
}

/* Gucharmap */
GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: shade (@bg_color-b, 2.20);
}

/* gnome-terminal */
TerminalScreen {
    background-color: @text_color-b;
    color: @base_color-b;
    -TerminalScreen-background-darkness: 0.95;
}

/* evolution hack*/                                                                                                                                       
GtkHTML {
    color: shade (@base_color-b, 1.00);
    background-color: shade (@text_color-b, 1.00);
}

GtkHTML:selected {
    color: shade (@text_color-b, 1.00);
}

EShellWindow {
    color: shade (@text_color-b, 1.00);
    background-color: shade (@bg_color-b, 1.00);
}

EShellWindow *.entry {
    background-color: shade (@text_color-b, 0.87);
}

EShellWindow *:active {
    color: shade (@base_color-b, 1.00);
    background-color: shade (@bg_color-b, 1.00);
}

EShellWindow *:selected {
    color: shade (@base_color-b, 1.00);
    background-color: shade (@bg_color-b, 2.00);
}

EShellWindow *.button* {
    color: shade (@text_color-b, 1.00);
    background-color: @transparent-b;
}

EShellWindow *.button*:insensitive {
    color: shade (@base_color-b, 1.00);
    text-shadow: 1px 1px alpha (shade (@text_color-b, 1.25), 0.80);
}

EShellSidebar *.entry {
    color: shade (@base_color-b, 1.00);
    background-color: shade (@bg_color-b, 2.00)
}

EShellSidebar *.entry:selected {
    background-color: shade (@bg_color-b, 1.20)
}

EShellSidebar *.entry:active {
    color: shade (@text_color-b, 1.00);
}

EShellSidebar *:selected {
    background-color: shade (@bg_color-b, 0.40)
}

EShellSidebar *:active {
    background-color: shade (@bg_color-b, 0.60)
}

/* nautilus */
.nautilus-canvas-item {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    background-color: alpha (shade (@gradient_color_a-b, 1.8), 0.0);
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color-b, 1.40)),
                                     color-stop (0.55, shade (@glow_color-b, 0.95)),
                                     to (shade (@base_color-b, 1.40)));
    box-shadow: inset 0px 0px shade (@gbase_color-b, 1.25),
                inset -0px -0px shade (@base_color-b, 1.25),
                inset 1px 1px shade (@base_color-b, 1.45),
                inset -1px -1px shade (@base_color-b, 1.45);
}

.nautilus-desktop.nautilus-canvas-item {
    border-width: 0px;
    color: @nautilus_desktop_text_color-b;
    background-color: @transparent-b;
    text-shadow: 1px 1px @nautilus_desktop_text_shadow_color-b;
}

.nautilus-canvas-item:selected {
    text-shadow: 1px 1px @nautilus_desktop_text_color-b;
}


.nautilus-canvas-item:selected:focused {
    text-shadow: 1px 1px @nautilus_desktop_text_shadow_color-b;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @nautilus_desktop_text_shadow_color-b;
    text-shadow: 1px 1px @nautilus_desktop_text_color-b;
    background-color: alpha (shade (@gradient_color_a-b, 1.5), 0.0);
}

.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: 1px 1px @nautilus_desktop_text_color-b;
    color: @nautilus_desktop_text_shadow_color-b;
    background-color: alpha (shade (@gradient_color_a-b, 1.5), 0.0);
}


.nautilus-desktop.nautilus-canvas-item:selected:focused {
    color: @nautilus_desktop_text_shadow_color-b;
    text-shadow: 1px 1px @nautilus_desktop_text_color-b;
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -GtkToolbar-button-relief: normal;
    padding: 4px;    
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color-b, 0.85)),
                                     color-stop (0.50, shade (@bg_color-b, 0.95)),
                                     color-stop (1.00, @bg_color-b),
                                     to (shade (@bg_color-b, 0.95)));
    background-color: shade (@border_gradient_color_b-b, 1.25);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a-b, 1.00),
                inset -2px -2px shade (@inner_gradient_color_a-b, 1.00),
                inset 1px 1px shade (@border_gradient_color_b-b, 0.85),
                inset -1px -1px shade (@border_gradient_color_b-b, 0.85);
}


NautilusSearchBar .entry {
}

.nautilus-cluebar-label {
    font: bold;
}

NautilusFloatingBar {
    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusWindow .sidebar .frame {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-radius: 5px;
    padding: 2px;
    background-color: shade (@border_gradient_color_b-b, 2.05);
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a-b, 0.95),
                inset -2px -2px shade (@inner_gradient_color_a-b, 0.95),
                inset 1px 1px shade (@border_gradient_color_b-b, 1.45),
                inset -1px -1px shade (@border_gradient_color_b-b, 1.45);
}

NautilusWindow > GtkTable > .pane-separator {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: shade (@bg_color-b, 0.66);
    border-radius: 6px;
}

.rubberband {
    background-color: alpha (@base_color-b, 0.25);
    border-style: solid;
    border-color: shade (@base_color-b, 1.30);
    border-radius: 0;
}

/***********************
 * Fallback Mode Panel *
 ***********************/
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem,
.gnome-panel-menu-bar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet {
    border-width: 0;
    border-radius: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a-b),
                                     to (shade (@gradient_color_b-b, 1.15)));
}

ClockBox,
.gnome-panel-menu-bar {
    border-width: 0;
    font: bold;
}

.gnome-panel-menu-bar .menuitem:prelight {
}

.gnome-panel-menu-bar .menuitem *:prelight {
    color: shade (@glow_color-b, 2.05);
    text-shadow: 0px 0px alpha (shade (@text_shadow_color-b, 1.25), 0.4);
}

PanelApplet .button,
PanelApplet .button:prelight {
/*    padding: 1px;*/
}

PanelApplet .button:active:prelight,
PanelApplet .button:active {
    color: shade (@glow_color-b, 2.05);
    text-shadow: 1px 1px alpha (shade (@text_shadow_color-b, 1.25), 0.4);
}

PanelApplet *:prelight {
    color: @glow_color-b;
    background-color: shade (@gradient_color_b-b, 1.55);
}

PanelApplet *:active,
PanelApplet *:prelight:active {
    color: shade (@glow_color-b, 2.05);
    text-shadow: 1px 1px alpha (shade (@text_shadow_color-b, 1.25), 0.4);
}

NaTrayApplet {    
/*    -NaTrayApplet-icon-padding: 1;*/
    -NaTrayApplet-icon-size: 16;
}
WnckPager, WnckTasklist {
    background-color: @gradient_color_a-b;
    background-image: none;
    color: shade (@gradient_color_b-b, 0.70);
    border-radius: 0;
    border-width: 1px;
    padding: 2px;
}

GsmFailWhaleDialog {
}

GsmFailWhaleDialog * {
}

