/*************************
 * Check and Radio items *
 *************************/

.cell.check,
.menuitem.check,
* .check {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-symbolic.png"), url("assets/heckbox-symbolic2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@gradient_color_a),
                                     to (@gradient_color_b));
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.15),
                inset -2px -2px shade (@inner_gradient_color_b, 1.00),
                inset 1px 1px @border_gradient_color_a,
                inset -1px -1px shade (@border_gradient_color_b, 0.80);
    border-radius: 3px;
}

.view.cell.radio:focused,
.view.cell.radio,
.cell.radio,
.menuitem.radio,
* .radio {
/*    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 0.90)),
                                     to (@gradient_color_b));
    box-shadow: inset 1.0px 0.2px shade (@border_gradient_color_b, 0.85),
                inset -1.0px -0.2px shade (@border_gradient_color_b, 0.85);*/
	-gtk-icon-source: -gtk-scaled(url("assets/radio-symbolic.png"), url("assets/radio-symbolic2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.85)),
                                     to (shade (@gradient_color_a, 0.55)));
    box-shadow: inset 1.0px.0.2px shade (@border_gradient_color_b, 0.85),
                inset -1.0px -0.2px shade (@border_gradient_color_b, 0.85);
    border-radius: 8px;
}

.radio:checked,
.radio:inconsistent:checked,
.view.cell.radio:focused,
.view.cell.radio:checked,
.view.cell.radio:prelight,
.view.cell.radio:active {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-symbolic.png"), url("assets/radio-checked-symbolic2.png"));
    border-radius: 8px;
}

.check:checked,
.check:inconsistent:checked,
.cell.check:active,
.cell.check:active:selected,
.menuitem.check:active,
* .check:active {
	padding: 6px 6px 6px 6px;
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-symbolic.png"), url("assets/checkbox-checked-symbolic2.png"));
/*    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@glow_color, 0.70)),
                                     color-stop (0.00, shade (@base_color, 2.95)),
                                     color-stop (0.90, @glow_color),
                                     to (@glow_color));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@glow_color, 0.70)),
                                     color-stop (0.00, shade (@glow_color, 1.70)),
                                     color-stop (0.50, @glow_color),
                                     to (shade (@glow_color, 1.50)));*/
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@glow_color, 0.70)),
                                     color-stop (1.00, shade (@glow_color, 1.70)),
                                     color-stop (2.50, @glow_color),
                                     to (shade (@glow_color, 3.50)));
    box-shadow: inset 1.5px 1.5px shade (@inner_gradient_color_a, 1.00),
                inset -1.5px -1.5px shade (@inner_gradient_color_a, 1.00),
                inset 1px 1px shade (@border_gradient_color_b, 0.85),
                inset -1px -1px shade (@border_gradient_color_b, 0.85);
}

.cell.radio:active,
.cell.radio:active:selected,
.menuitem.radio:active,
* .radio:active {
/*    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@glow_color, 0.70)),
                                     color-stop (0.00, shade (@glow_color, 1.70)),
                                     color-stop (0.50, @glow_color),
                                     to (shade (@glow_color, 1.50)));*/
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@glow_color, 0.70)),
                                     color-stop (1.00, shade (@glow_color, 1.60)),
                                     color-stop (1.50, @glow_color),
                                     to (shade (@glow_color, 3.50)));
    box-shadow: inset 1.2px 0.2px shade (@border_gradient_color_b, 0.75),
                inset -1.2px -0.2px shade (@border_gradient_color_b, 0.75);
}

.cell.check:inconsistent,
.cell.check:inconsistent:selected,
.menuitem.check:inconsistent,
* .check:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-symbolic.png"), url("assets/checkbox-mixed-symbolic2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.60)),
                                     color-stop (0.50, shade (@base_color, 1.95)),
                                     to (shade (@base_color, 0.60)));
    box-shadow: inset 1.2px 0.2px shade (@border_gradient_color_b, 0.85),
                inset -1.2px -0.2px shade (@border_gradient_color_b, 0.85);
}

.cell.radio:inconsistent,
.cell.radio:inconsistent:selected,
.menuitem.radio:inconsistent,
* .radio:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-symbolic.png"), url("assets/radio-mixed-symbolic2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.60)),
                                     color-stop (0.50, shade (@base_color, 1.95)),
                                     to (shade (@base_color, 0.60)));
    box-shadow: inset 1px 0.2px shade (@border_gradient_color_b, 0.85),
                inset -1px -0.2px shade (@border_gradient_color_b, 0.85);
}

.cell.check:insensitive,
.menuitem.check:insensitive,
* .check:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-symbolic-i.png"), url("assets/heckbox-symbolic-i2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 0.95)),
                                     to (shade (@gradient_color_b, 1.10)));
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.15),
                inset 1px 1px shade (@border_gradient_color_a, 1.05),
                inset -1px -1px shade (@border_gradient_color_b, 1.20);
}

.cell.radio:insensitive,
.menuitem.radio:insensitive,
* .radio:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-symbolic-i.png"), url("assets/radio-symbolic-i2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 0.95)),
                                     to (shade (@gradient_color_b, 1.10)));
    box-shadow: inset 1px 0.2px shade (@border_gradient_color_b, 1.25),
                inset -1px -0.2px shade (@border_gradient_color_b, 1.25);
}


.check:checked:insensitive,
.check:inconsistent:checked:insensitive,
.cell.check:active:insensitive,
.menuitem.check:active:insensitive,
* .check:active:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-symbolic-i.png"), url("assets/checkbox-checked-symbolic-i2.png"));
   background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_activ_color_b, 1.20)),
                                     to (@gradient_activ_color_a));
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.15),
                inset 1px 1px shade (@border_gradient_color_a, 1.05),
                inset -1px -1px shade (@border_gradient_color_b, 1.20);
}


.radio:checked:insensitive,
.radio:inconsistent:checked:insensitive,
.cell.radio:active:insensitive,
.menuitem.radio:active:insensitive,
* .radio:active:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-symbolic-i.png"), url("assets/radio-checked-symbolic-i2.png"));
   background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_activ_color_b, 1.10)),
                                     to (shade (@gradient_activ_color_a, 0.95)));
    box-shadow: inset 1px 0.2px shade (@border_gradient_color_b, 1.25),
                inset -1px -0.2px shade (@border_gradient_color_b, 1.25);
}

.cell.check:inconsistent:insensitive,
.cell.check:inconsistent:selected:insensitive,
.menuitem.check:inconsistent:insensitive,
* .check:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-symbolic-i.png"), url("assets/checkbox-mixed-symbolic-i2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.80)),
                                     color-stop (0.50, shade (@base_color, 1.95)),
                                     to (shade (@base_color, 0.80)));
    box-shadow: inset 2px 2px shade (@inner_gradient_color_a, 1.05),
                inset -2px -2px shade (@inner_gradient_color_b, 1.15),
                inset 1px 1px shade (@border_gradient_color_a, 1.05),
                inset -1px -1px shade (@border_gradient_color_b, 1.20);
}

.cell.radio:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive,
* .radio:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-symbolic-i.png"), url("assets/radio-mixed-symbolic-i2.png"));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@base_color, 0.80)),
                                     color-stop (0.50, shade (@base_color, 1.95)),
                                     to (shade (@base_color, 0.80)));

    box-shadow: inset 1px 0.2px shade (@border_gradient_color_b, 0.85),
                inset -1px -0.2px shade (@border_gradient_color_b, 0.85);
}

GtkExpander:hover,
GtkCheckButton:hover {
    border-radius: 3px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.85)),
                                     to (shade (@gradient_color_a, 0.55)));
}

GtkRadioButton:hover {
    border-radius: 8px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@gradient_color_a, 1.85)),
                                     to (shade (@gradient_color_a, 0.55)));
}

.linked GtkRadioButton:hover,
.toolbar GtkRadioButton:hover {
	border-radius: 4px 6px 4px 6px;
}
